
      <footer class="footer">
        <div class="container-fluid">

          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> by
            <a href="https://www.linkedin.com/in/van-dung-do-599687199/">Van Dung Do</a>,
                Coded in <a href="http://flask.pocoo.org/">Flask</a><br>
                Supervisor: <a href="https://www.raumfahrttechnik.tu-berlin.de/menue/ueber_uns/mitarbeiterinnen/dr_ing_martin_von_der_ohe/">Martin von der Ohe</a> 
          </div>
        </div>
      </footer>
