{% extends "index.html" %}
{% block content %}
<div class="content">

  <div class="container-fluid">
    <h1 class="mt-4" > <strong>Introduction</strong></h1>

    
    <h3 style="text-align:justify;">
      <i class='far fa-map'></i>
      <strong>Signal identification</strong> <br>
      Finding outliers using boxplot to extract signals from spectrum.<br>
      You will find some pictures show working flow of the signal identification. 
      
    </h3>
    <h3 style="text-align:justify;">
      <i class='far fa-map'></i>
      <strong>Clustering</strong>  <br>
      Using an algorithm in unsupervised learning - clustering to make classes for data set.<br>
      You will find results from clustering as a table contains all signals with their features and their classes they belong to.
      
    </h3>
    <h3 style="text-align:justify;">
      <i class='far fa-map'></i>
      <strong>Signal classification</strong>  <br>
      Using algorithms in supervised learning to make a model as classifier.<br>
      You will find the performances of each algorithm in multiclass classification. In addition, the prediction of to show how the classification works is also included.
      
    </h3>
    <h3 style="text-align:justify;">
      <i class='far fa-map'></i>
      <strong>Example Prediction</strong>  <br>
      Using the chosen algorithm and building the model as classifier.<br>
      You will find the results of a prediction example by the model in tables.
      
    </h3>
    
  </div>

</div>


{% endblock %}
